@using WebProjectCourse.Models;
@model WebProjectCourse.Models.ViewModel.ProdutoVM;

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2>"
            <h2 class="text-primary">Criar Produto</h2>
            <hr/>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.Titulo class="p-0"></label>
            <input asp-for=Produto.Titulo class="form-control" />
            <span asp-validation-for="Produto.Titulo" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.Descricao class="p-0"></label>
            <input asp-for=Produto.Descricao class="form-control" />
            <span asp-validation-for="Produto.Descricao" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.Autor class="p-0"></label>
            <input asp-for=Produto.Autor class="form-control" />
            <span asp-validation-for="Produto.Autor" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.ISBN class="p-0"></label>
            <input asp-for=Produto.ISBN class="form-control" />
            <span asp-validation-for="Produto.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.ListaPreco class="p-0"></label>
            <input asp-for=Produto.ListaPreco class="form-control" />
            <span asp-validation-for="Produto.ListaPreco" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.Preco class="p-0"></label>
            <input asp-for=Produto.Preco class="form-control" />
            <span asp-validation-for="Produto.Preco" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.Preco50 class="p-0"></label>
            <input asp-for=Produto.Preco50 class="form-control" />
            <span asp-validation-for="Produto.Preco50" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.Preco100 class="p-0"></label>
            <input asp-for=Produto.Preco100 class="form-control" />
            <span asp-validation-for="Produto.Preco100" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for=Produto.CategoriaId class="p-0"></label>
            <select asp-for=@Model.Produto.CategoriaId asp-asp-items="@Model.CategoriaList" class="form-select border-0 shadow">
                <option disabled select>--Selecionar Categoria--</option>
            </select>
            <span asp-validation-for="Produto.CategoriaId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6" col-md-3>
                <button type="submit" class="btn btn-primary" form-control">Criar</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Produto" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Voltar a lista
                </a>
            </div>
        </div>


    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}